doctype html
html(lang="en")
    head
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(charset='UTF-8')
        title Webpack
    body.body
        header.header This is header
        main.main Hello, background must be cornflowerblue!
        footer.footer This is footer